<?xml version="1.0"?>
<!-- 
/**
 * @category   Aligent
 * @package    Aligent_CacheObserver
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Aligent_CacheObserver>
            <version>0.1.0</version>
        </Aligent_CacheObserver>
    </modules>
    <global>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <cacheobserver>
                        <type>singleton</type>
                        <class>cacheobserver/observer</class>
                        <method>customBlockCache</method>
                    </cacheobserver>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <cacheobserver>
                        <type>singleton</type>
                        <class>cacheobserver/observer</class>
                        <method>replaceFormKey</method>
                    </cacheobserver>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
        <helpers>
            <cacheobserver>
                <class>Aligent_CacheObserver_Helper</class>
            </cacheobserver>
        </helpers>
        <models>
            <cacheobserver>
                <class>Aligent_CacheObserver_Model</class>
            </cacheobserver>
            <catalog_resource>
                <rewrite>
                    <product>Aligent_CacheObserver_Model_Resource_Catalog_Product</product>
                    <category>Aligent_CacheObserver_Model_Resource_Catalog_Category</category>
                </rewrite>
            </catalog_resource>
        </models>
        <cache>
            <types>
                <catalog_models>
                    <label>Catalog Model Loading</label>
                    <description>Cache of Catalog Objects</description>
                    <tags>catalog_model</tags>
                </catalog_models>
            </types>
        </cache>

    </global>
    <default>
        <system>
            <cacheobserver>
                <enable_cms_pages>1</enable_cms_pages>
                <enable_cms_blocks>1</enable_cms_blocks>
                <enable_category_view>1</enable_category_view>
                <enable_layer_view>1</enable_layer_view>
                <enable_product_view>1</enable_product_view>
            </cacheobserver>
        </system>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Aligent_CacheObserver/>
            </modules>
        </suite>
    </phpunit>
</config>