<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * @category   Mage
 * @package    Aligent_CacheObserver
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <sections>
        <system>
            <groups>
                <cacheobserver translate="label comment" module="cacheobserver">
                    <label>CacheObserver</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>901</sort_order>
                    <fields>
                        <cache_lifetime translate="label comment">
                            <label>Custom cache lifetime (seconds)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cache_lifetime>
                        <cache_lifetime_factor_lookup>
                            <label>Custom cache factors</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>json encoded table of class name:factor pairs. Is multiplied by base lifetime. Used to modify the base cache lifetime for target blocks. ex: `{"Block_Name": 0.5}`</comment>
                        </cache_lifetime_factor_lookup>
                        <cache_formkey_placeholder>
                            <label>FPC formkey placeholder</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cache_formkey_placeholder>
                        <cache_neverblocks>
                            <label>Blocks to bypass caching</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Comma separated list of blocks to bypass</comment>
                        </cache_neverblocks>
                        <enable_cms_pages translate="label comment">
                            <label>Enable Caching of CMS Pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_cms_pages>
                        <enable_cms_blocks translate="label comment">
                            <label>Enable Caching of CMS Blocks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_cms_blocks>
                        <enable_category_view translate="label comment">
                            <label>Enable Caching of Category Views</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_category_view>
                        <enable_layer_view translate="label comment">
                            <label>Enable Caching of Layered Nav Blocks</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_layer_view>
                        <enable_product_view translate="label comment">
                            <label>Enable Caching of Product Views</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_product_view>
                        <enable_customer_group translate="label comment">
                            <label>Enable caching based on customer group</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Applies to Mage_Catalog_Block_Product_Price and Mage_Catalog_Block_Product_View</comment>
                        </enable_customer_group>
                    </fields>
                </cacheobserver>
            </groups>
        </system>
    </sections>
</config>
